.header {
  z-index: 2;
  padding: $padding-small-vert $padding-small-hori;
  position: absolute;
  top: 0;

  .menu-button {
    position: absolute;
    z-index: 2;
    height: 75px;
    width: 75px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    animation-duration: 1s;
  }

  .menu-button-round {
    position: fixed;
    height: 75px;
    width: 75px;
    background-color: $brand-danger;
    border-radius: 37.5px;
    border: none;
    outline: none;
    animation-duration: 1s;
    z-index: 2;
  }

  .hamburger {
    position: absolute;
    top: 35%;
    left: 27%;

    &.adjust {
      top: 45%;
    }
  }

  .menu-text {
    color: $brand-danger;
    margin-left: 50px;
    font-size: $font-size-large;
    height: 25px;
    width: 40px;
    animation-duration: 1s;
  }

  .burger-bar {
    background: $headings-color;
    height: 5px;
    width: 35px;
    position: absolute;
    display: block;
    content: '';
    border-radius: 2px;
    animation-duration: 2.5s;
  }
  .menu {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 1em;
    padding: $padding-base-vert $padding-base-hori;
    background-color: $brand-primary;
    box-shadow: $all-shadow;
    animation-name: menu-open-animation;
    animation-duration: 1s;

    .logo {
      text-align: center;
    }

    @media(max-width: $screen-xs) {
      li {
        height: 65px;
      }
    }
  }

  .menuHidden {
    @extend .menu;
    opacity: 0;
    z-index: -1;
    animation-name: menu-close-animation;
    animation-duration: 1s;
  }

  .menu-nav {
    position: absolute;
    text-align: center;
    width: 75%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;

    ul {
      list-style: none;
    }
    li {
      display: inline-block;
      font-size: $font-size-h1;
      font-family: $headings-font-family;
      color: $headings-color;
      margin-right: 1em;
      cursor: pointer;
    }
  }
}
