// Sections
.section-title {
  padding-top: 0.25em;
  font-size: 4em;

}
.section-primary {
  position: relative;
  min-height: 100vh;
  background-color: $brand-primary;
}
.section-secondary {
  position: relative;
  min-height: 100vh;
  background-color: $brand-secondary;
  color: $brand-white;

  h1, h2, h3, h4, h5, h6 {
    color: $brand-grey;
  }
  h2 {
    margin: 0;
  }
}
.section-grey {
  min-height: 100vh;
  background-color: #333;
}
.section-blue {
  position: relative;
  min-height: 100vh;
  background-color: $brand-blue;
}
.work-info {
  padding: 0;

  .work-nav {
    h2 {
      font-size: $font-size-h5;
      text-align: center;
      margin: 0;
    }

    @media(max-width: $screen-sm) {
      h2 {
        margin: $padding-small-vert 0;
      }
    }
  }
  .tag {
    display: inline-block;
    padding: 0 $padding-base-hori;
    margin: $padding-base-vert $padding-base-hori;
    color: $brand-primary;
    background-color: $brand-danger;
    border: 2px solid $brand-grey;
    border-radius: 15px;
  }

  .fa-chevron-right, .fa-chevron-left {
    cursor: pointer;
    color: $brand-grey;
  }

  .fa-chevron-right {
    float: right;
  }
}
