<section id="main" class="video-cover">
    <div class="video-container">
        <div class="filter">
            <div class="cover-logo">
                <img src="../img/logoLarge.png">
                <h1>
                    Portfolio site of aspiring developer, Grant Jordan
                    <span>Current skills: Java, Android, Javascript, HTML, and CSS</span>
                </h1>
            </div>
        </div>
        <video autoplay loop class="fillWidth" poster="../img/video_cover/Snapshots/Love-Coding.jpg">
            <source src="../img/video_cover/MP4/Love-Coding.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="../img/video_cover/WEBM/Love-Coding.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>

    <div nav-down="about" class="nav-down"><i class="fa fa-chevron-down fa-4x"></i></div>
</section>

<section id="game" class="section-primary container no-padding">

    <game></game>

</section>

<section id="about" class="section-primary container">
    <div class="row">
        <div class="col-4 grid-photo">
            <div class="filter"></div>
            <img src="../img/family.jpg" class="vertical-responsive">
        </div>

        <div class="col-8">
            <div class="container">
                <h1>Grant Jordan</h1>
                <hr>

                <div class="row">
                    <div class="col-6">
                        <h2>Family</h2>
                        <hr>
                        <p>I have an amazing wife and two fantastic boys that make my life whole. If I'm not working on programming I'm with them.</p>
                    </div>
                    <div class="col-6">
                        <h2>Student</h2>
                        <hr>
                        <p>I have an amazing wife and two fantastic boys that make my life whole. If I'm not working on programming I'm with the.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <h2>Problem Solver</h2>
                        <hr>
                    </div>
                    <div class="col-6">
                        <h2>Student</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>