<div class="row">
    <h1 class="horizontal-center section-title">Work</h1>
</div>

<div id="workView" class="row animated">
    <div class="col-sm-9 col-xs-12 viewport-height no-padding">
        <iframe ng-src="{{work.iframeLink}}" width="100%" height="100%" frameborder="0" scrolling="{{work.isScrollable}}"></iframe>
    </div>

    <div class="col-sm-3 col-xs-12 work-info">
        <div class="container">
            <div class="row work-nav">
                <div class="col-xs-2 no-padding" ng-click="work.prevWork()">
                    <i class="fa fa-chevron-left fa-2x"></i>
                </div>
                <div class="col-xs-8 no-padding">
                    <h2>{{work.title}}</h2>
                </div>
                <div class="col-xs-2 no-padding" ng-click="work.nextWork()">
                    <i class="fa fa-chevron-right fa-2x"></i>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>About</h3>
                    <hr>
                    <p>{{work.description}}</p>

                    <h3>Tags</h3>
                    <hr>
                    <div class="tag" ng-repeat="tag in work.tags">{{tag}}</div>
                </div>
            </div>
        </div>
    </div>

</div>