<div class="video-container">
    <div class="filter">
        <div class="cover-logo">
            <img class="vertical-responsive" src="./img/logoLarge.png">
            <h1>
                Portfolio site of aspiring developer, Grant Jordan
                <span>Current skills: Java, Android, Javascript, HTML, and CSS</span>
            </h1>
        </div>
    </div>
    <video autoplay loop class="fillWidth" poster="./img/video_cover/Snapshots/Love-Coding.jpg">
        <source src="./img/video_cover/MP4/Love-Coding.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="./img/video_cover/WEBM/Love-Coding.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

</div>